<div class="banner-wrapper">
  <img src="{{ background }}" loading="lazy" class="bg-img">
  <div class="container">
    <div class="banner-inner-box">
      <h1>{{ title }}</h1>
      <h3>{{ description }}</h3>
      {{ cta }}
    </div>
  </div>
</div>
